{% extends "base.html" %}
{% block content %}
<div style="justify-content: center;display:flex;">
    {% if validlink %}
<form method="post">
    {% csrf_token %}
    <h1>Set a New Password</h1>
    <input type="hidden" name="csrfmiddlewaretoken" value="r7b9MXYk293IY4OGcpqQ4Nm5YX53aJn1v4KpQoMYevTnDo6nTMntzC48YbvZ02bm">
    <label for="{{form.new_password1.id__for__label}}"> password</label> <br>
    <input style="width: 9cm;" type="password" name="{{form.new_password1.name}}" placeholder="Enter new Password" required id="{{form.new_password1.id}}"> <br> 
    {% if form.new_password1.errors %}
      <span style="color: red;">{{form.new_password1.errors}}</span> <br>
    {% endif %}
    <label for="{{form.new_password2.id__for__label}}">Re-Type Password</label> <br>
    <input style="width: 9cm;" type="password" name="{{form.new_password2.name}}" placeholder="Enter agin password" required id="{{form.new_password2.id}}"> <br> <br>
    {% if form.new_password2.errors %}
      <span style="color: red;">{{form.new_password2.errors}}</span> <br>
    {% endif %}
      <input class="btn btn-primary" type="submit" value="set password">
    </form>  
    {% else %}
        <p>the password reset link was invalid ,possibly because it has been used,Please request a new password reset</p>
    {% endif %}
</div>
{% endblock content %}