{% extends "base.html" %}
{% block content %}
<div style="justify-content: center;display:flex;">
    <form action="" method="post">
        {% csrf_token %}
        <h1>Registration</h1>
        <br>
        <div class="form-group" >
            <label for="{{form.username.id_for_label}}">Username</label> <br>
            <input class="form-control" style="width: 8cm;" type="text" id="{{form.username.id}}" name="{{form.username.name}}" required placeholder="Enter your username"> <br>
            {% if form.username.errors %}
            <span style="color: red;">{{form.username.errors}}</span> <br>
            {% endif %}
        </div>

        <div class="form-group" >
            <label for="{{form.email.id_for_label}}">Email</label> <br>
            <input class="form-control" style="width: 8cm;" type="email" id="{{form.email.id}}" name="{{form.email.name}}" required placeholder="Enter your email "> <br>
            {% if form.email.errors %}
            <span style="color: red;">{{form.email.errors}}</span> <br>
            {% endif %}
        </div>

        <div class="form-group" >
            <label for="{{form.password1.id_for_label}}"> Password</label> <br>
            <input class="form-control" style="width: 8cm;" type="password" id="{{form.password1.id}}" name="{{form.password1.name}}" required placeholder="Enter your password"> <br>
            {% if form.password1.errors %}
            <span style="color: red;">{{form.password1.errors}}</span> <br>
            {% endif %}
        </div>

        <div class="form-group" >
            <label for="{{form.password2.id_for_label}}">Re-Type Password</label> <br>
            <input class="form-control" style="width: 8cm;" type="password" id="{{form.password2.id}}" name="{{form.password2.name}}" required placeholder="Enter your password again "> <br>
            {% if form.password2.errors %}
            <span style="color: red;">{{form.password2.errors}}</span> <br>
            {% endif %}
        </div>

            Already have an account ? <a href="{% url 'account:login' %}">click here</a> <br> <br>
        <input class="btn btn-success" type="submit" value="Register">
    </form>
</div>
{% endblock content %}